<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023360815405-6rbpspkf8s9r5mhld104h4r9koo54pv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023360815405-6rbpspkf8s9r5mhld104h4r9koo54pv1</string>
	<key>API_KEY</key>
	<string>AIzaSyDp-AuEq3wTFqhxwGD-NpJAaQP7cpB1hyM</string>
	<key>GCM_SENDER_ID</key>
	<string>1023360815405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artsiomva.lightYouth</string>
	<key>PROJECT_ID</key>
	<string>lightyouth2</string>
	<key>STORAGE_BUCKET</key>
	<string>lightyouth2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023360815405:ios:d1ec244b5e67c5ef</string>
	<key>DATABASE_URL</key>
	<string>https://lightyouth2.firebaseio.com</string>
</dict>
</plist>
